<div class="overlay" *ngIf="loading">
    <div class="spinner"></div>
</div>

<div style="display: flex; align-items: center; justify-content: center;">
    <img id="logo-img" src="assets/logo.png" alt="logo" />
    <span></span>
</div>

<div class="login">
    <form class="custom-form" (ngSubmit)="resetPassword()">
        <!-- Campos de inicio de sesión -->
        <h1>Ingresar nueva contraseña</h1>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Ingrese nueva contraseña"
            required  [disabled]="resetPasswordSuccess.length > 0" />
        <button [disabled]="resetPasswordSuccess" type="submit">Cambiar contraseña</button>
        <div class="toggle-section" style="margin-top: 20px;">
        </div>

        <div *ngIf="resetPasswordError">
            <p style="color: red;">{{ resetPasswordError }}</p>
            <p class="toggle-section">Vuelve a <a (click)="login()" style="color: blue;">Iniciar
                    sesión</a></p>
        </div>
        <div *ngIf="resetPasswordSuccess">
            <p style="color: green;">{{ resetPasswordSuccess }}</p>
            <p>Vuelve a <a (click)="login()" style="color: blue;">Iniciar
                    sesión</a></p>
        </div>
    </form>
</div>