.custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px none;
    background: #ebf5fc;
}

.custom-form input:focus {
    border-color: #10642e;
    outline: none;
    box-shadow: 0 0 5px rgba(16, 100, 46, 0.5);
}


.custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #10642e;
    font-weight: bold;
    background-color: rgb(150 175 58 / 73%);
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}

.custom-form input::placeholder {
    color: #9a9898cc;
    /* Cambia el color a tu preferencia */
}


.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: white;
}